<body class="jv-background">
  <div class="container">

    <h1>Welcome to Your Vocabulary Dojo</h1>

    <div class="jv-home-button">
      <a href="/words/new" class="btn btn-primary btn-lg active" id="jv-button" role="button">Add a Word</a>
      <a href="/words" class="btn btn-default btn-lg active" role="button">View Words</a>
    </div>
  </div>
</body>
