<h3>Your Words, Kyu</h3>

<ul class="list-inline">
  <% @word.each() do |word| %>
  <li><%= word.word() %></li>
  <% end %>
</ul>


<a href="/words/new" class="btn btn-primary btn-lg active" role="button">Add a Word</a>
<a href="/words" class="btn btn-default btn-lg active" role="button">View Words</a>
